extends layout

block content
	div#rdioDetails
		h3.text-muted details
		div
			span#rdioIcon
			span#rdioName.text-muted
		h3.text-muted popular
		div#popular


	div#queue
		h3.text-muted queue
	div.clear
	script(type='text/javascript').
		$.getScript('https://www.rdio.com/api/api.js?client_id=#{client_id}', function() {
			R.accessToken('#{access_token}');
			$.getScript('/javascripts/rdio.js');
		});