doctype html
html
  head
    title= title

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')

    //HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
        script(type='text/javascript', src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
        script(type='text/javascript', src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    div.container
        div.header
            ul.nav.nav-pills.pull-right
                li.active
                    a(href='/') Home
                if user
                    li
                        a(href='/logout') Logout
            h3.text-muted dwollabox
        if user
            div.user
                span.name Hi #{user ? user.first : 'n/a'}
                span.settings
                    a(href='/settings') Settings
        div.clear
        div.jumbotron
            block content
        div.footer
            p &copy; dwollabox 2014